<!DOCTYPE html>
<html>
<head>
    <title>Device Info</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }
        form {
            margin-top: 16px;
        }
        input[type="text"] {
            padding: 8px;
            width: 200px;
        }
        input[type="submit"] {
            padding: 8px 16px;
            background-color: #4CAF50;
            color: white;
            border: none;
            cursor: pointer;
        }
        input[type="submit"]:hover {
            background-color: #45a049;
        }
        button {
            padding: 1px 14px;
            background-color: #f44336;
            color: white;
            border: none;
            cursor: pointer;
        }
        button:hover {
            background-color: #d32f2f;
        }
    </style>
</head>
<body>
    <table><tr><td><h3><a href="/">All Devices</a></h3></td><td><h3><a href="/?status=Active">Active Devices</a></h3></td><td><h3><a href="/?status=Inactive">Inactive Devices</a></h3></td><td><h2><a href="/devices">Unknown Devices</a></h2></td></tr></table>
    <table>
        <tr>
            <th>MAC Address</th>
            <th>Hostname</th>
            <th>Action</th>
        </tr>
        <% devices.forEach((device) => { %>
        <tr>
            <td><%= device.mac_address %></td>
            <td><%= device.hostname %></td>
            <td>
                <form method="POST" action="/deletedevice">
                    <input type="hidden" name="macAddress" value="<%= device.mac_address %>">
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
        <% }) %>
    </table>
    <h2>Add New Device</h2>
    <form method="POST" action="/adddevice">
        <input type="text" name="macAddress" placeholder="MAC Address" required>
        <input type="text" name="hostname" placeholder="Hostname" required>
        <input type="submit" value="Add Device">
    </form>
</body>
</html>
