<!DOCTYPE html>
<html>
<head>
    <title>MAC Addresses</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }
    </style>
</head>
<body>
    <table><tr><td><h2><a href="/">All Devices</a></h2></td><td><h3><a href="/?status=Active">Active Devices</a></h3></td><td><h3><a href="/?status=Inactive">Inactive Devices</a></h3></td><td><h3><a href="/devices">Unknown Devices</a></h3></td></tr></table>
    <table>
        <tr>
            <th>MAC Address</th>
            <th>IP Address</th>
            <th>Name</th>
            <th>Status</th>
            <th>First found</th>
            <th>Last found</th>
        </tr>
        <% macAddresses.forEach((macAddress) => { 
            if ((status=="Active" && macAddress.status=="Active") ||
                (status=="Inactive" && macAddress.status=="Inactive") ||
                (status==""))
             {%>
        <tr>
            <td><%= macAddress.mac_address %></td>
            <td><%= macAddress.ip_address %></td>
            <td><%= macAddress.hostname %></td>
            <td><%= macAddress.status %></td>
            <td><%= macAddress.firsttimefound %></td>
            <td><%= macAddress.lasttimefound %></td>
        </tr>
        <% }
        }) %>
    </table>
</body>
</html>
